<!--components/agendaitem/agendaitem.wxml-->
<view class="agenitemcon" data-item="{{data_item}}" bindtap="getAgendaItem">
  <view class="quan_card_item_name">
    <view class="quan_card_item_icon">
      <view class="quan_card_item_iconimg">
        <image class="quan_card_item_iconimg_img" wx:if="{{data_item.portraitImg}}" src="{{IMG_HOST+data_item.portraitImg}}"></image>
      </view>
    </view>
    <view class="quan_card_item_nametext">{{data_item.name}}</view>
    <view class="quan_card_item_time">{{data_item.createTime}}</view>
    <view class="quan_look" style="opacity:{{showMine?1:0}}">
        <view class="quan_look_num">
          <text>{{data_item.visitCount}}</text>
          
          <view>阅读</view>
        </view>
      </view>
  </view>
  <view class="quan_card_title">
    
    <text class="quan_card_title_dedpgrey">{{data_item.title}}</text>
    <text class="quan_card_zhiding" wx:if="{{data_item.topStatus==1}}">置顶</text>
    <text class="quan_card_xin" wx:if="{{data_item.createStatus}}">新</text>
  </view>
  <view class="quan_card_content">
    {{data_item.content}}
  </view>
  <view class="quan_card_content_img" wx:if="{{data_item.pictureUrl}}">
    <image class="quan_card_content_img_k" mode="widthFix" src="{{IMG_HOST+data_item.pictureUrl}}"></image>
  </view>
  <view class="quan_card_content_option">
    <view class="quan_card_content_option_item talk_card">
      {{data_item.neighbourhood}}
    </view>
    <view class="quan_card_content_option_item" catchtap="showDiscuss">
      <image class="quan_card_content_option_pinglun"
        src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/micro-electronic/%E8%AF%84%E8%AE%BA.png">
      </image>
      <text style="padding-left:8rpx">评论</text>
    </view>
    <view class="quan_card_content_option_item" data-item="{{data_item}}" catchtap="dianzans">
      <image class="quan_card_content_option_dianzan"
        wx:if="{{!data_item.isLike}}"
        src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/micro-electronic/%E7%82%B9%E8%B5%9E.png">
      </image>
      <image class="quan_card_content_option_dianzan"
       wx:if="{{data_item.isLike}}"
        src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/micro-electronic/%E7%82%B9%E8%B5%9E%20%281%29.png">
      </image>
      <text style="padding-left:8rpx;"
        class="{{data_item.isLike?'isLikeColor':''}}">{{data_item.likesCount==0?'赞':data_item.likesCount}}</text>
    </view>
    <view class="quan_card_content_option_item" wx:if="{{showMine}}" data-item="{{data_item}}" catchtap="deleteAgenda">
      <text>删除</text>
    </view>
  </view>

</view>
<view class="zan_img" wx:if="{{showzanImg}}">
  <image class="zan_img_img" src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/micro-electronic/%E6%9C%AA%E6%A0%87%E9%A2%98-1.gif"></image>
</view>
<discussItem bind:myevent="hideDiscuss" wx:if="{{showDisducss}}" item="{{data_item}}"></discussItem>