<!--pages/index/index.wxml-->
<view class="container">
  <view class="tab_header">
    <image class="header_img"
      src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/micro-electronic/%E7%BB%84%2010%402x.png"></image>
    <view class="distrctName">{{districtName}}
    </view>
    <!-- <view class="searchInput">
      <view class="input_content">
        <view class="input_content_icon">
          <image class="icon_img" bindtap="limitAgendaList"
            src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/micro-electronic/sousu%402x.png">
          </image>
        </view>
        <view class="input_content_input">
          <input class="input_content_text" bindinput="getsearch" value="{{searchtext}}" placeholder="搜索动态" type="text"></input>
        </view>
        <view class="searchText" bindtap="gotoSearch">搜索</view>
      </view>
    </view> -->
  </view>
  <view class="tab_card">
    <view class="card_item" wx:for="{{modelList}}" wx:if='{{item.icon}}' wx:key="index" data-url="{{item.functionUrl}}"
      bindtap="gotoModel">
      <view class="card_img">
        <image class="card_icon" src="{{item.icon}}">
        </image>
      </view>
      <text class="card_text">{{item.functionName}}</text>
    </view>
    <!-- <view class="card_item">
      <view class="card_img">
        <image class="card_icon"
          src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/micro-electronic/%E5%9B%BE%E5%B1%82%209%402x.png">
        </image>
      </view>
      <text class="card_text">家门口服务</text>
    </view>
    <view class="card_item">
      <view class="card_img">
        <image class="card_icon"
          src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/micro-electronic/%E5%9B%BE%E5%B1%82%2010%402x.png">
        </image>
      </view>
      <text class="card_text">来/返沪人员</text>
    </view>
    <view class="card_item">
      <view class="card_img">
        <image class="card_icon"
          src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/micro-electronic/%E5%9B%BE%E5%B1%82%2011%402x.png">
        </image>
      </view>
      <text class="card_text">失物招领</text>
    </view>
    <view class="card_item">
      <view class="card_img">
        <image class="card_icon"
          src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/micro-electronic/%E5%BD%A2%E7%8A%B6%204%402x.png">
        </image>
      </view>
      <text class="card_text">好人好事</text>
    </view> -->
  </view>
  <view class="tab_info">
    <view class="tab_btn" bindtap="gotoNotice">
      <view class="tab_btn_txt">公告</view>
    </view>
    <view class='scrollx'>
      <view style='transform:translateX({{marquee}}px)'>{{noticeContent}}</view>
    </view>
  </view>
  <view class="quan_card">
    <view class="quan_title">
      <view class="quan_title_text">
        <view class="quan_title_text_t"></view>
        <view class="quan_title_text_tt">社区议事厅</view>
      </view>
      <view class="quan_more" bindtap="gotoAgendalist">
        <text>查看更多</text>
        <image class="more_icon"
          src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/micro-electronic/%E5%8F%B3%20%E6%8B%B7%E8%B4%9D%402x.png">
        </image>
      </view>
    </view>
    <view class="quan_card_item" wx:for="{{agendaList}}" wx:key="id">
      <agendaItem item="{{item}}"></agendaItem>
      <!-- <view class="quan_card_item_name">
        <view class="quan_card_item_icon">
          <view class="quan_card_item_iconimg"></view>
        </view>
        <view class="quan_card_item_nametext">{{item.name}}</view>
        <view class="quan_card_item_time">{{item.createTime}}</view>
      </view>
      <view class="quan_card_title">
        <text class="quan_card_title_dedpgrey">{{item.title}}</text>
        <text class="quan_card_zhiding" wx:if="{{item.topStatus==1}}">置顶</text>
      </view>
      <view class="quan_card_content">
        {{item.content}}
      </view>
      <view class="quan_card_content_img">
        <image class="quan_card_content_img_k" src="{{item.pictureUrl}}"></image>
      </view>
      <view class="quan_card_content_option">
        <view class="quan_card_content_option_item talk_card">
          {{item.districtName}}
        </view>
        <view class="quan_card_content_option_item">
          <image class="quan_card_content_option_pinglun" src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/micro-electronic/%E7%9F%AD%E4%BF%A1%20%E6%8B%B7%E8%B4%9D%402x.png"></image>
          <text style="padding-left:8rpx">评论</text>
        </view>
        <view class="quan_card_content_option_item">
          <image class="quan_card_content_option_dianzan" src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/micro-electronic/%E8%B5%9E%20%E6%8B%B7%E8%B4%9D%402x.png"></image>
          <text style="padding-left:8rpx">赞</text>
        </view>
      </view> -->
    </view>
  </view>
  <view class="quan_card" wx:if="{{false}}">
    <view class="quan_title">
      <view class="quan_title_text">
        <view class="quan_title_text_t"></view>
        <view class="quan_title_text_tt">社区随手报</view>
      </view>
      <view class="quan_more" bindtap="gotoReportlist">
        <text>查看更多</text>
        <image class="more_icon"
          src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/micro-electronic/%E5%8F%B3%20%E6%8B%B7%E8%B4%9D%402x.png">
        </image>
      </view>
    </view>
    <view class="quan_card_item" wx:for="{{reportList}}" wx:key="id">
      <reportItem item="{{item}}"></reportItem>
      <!-- <view class="quan_card_item_name">
        <view class="quan_card_item_icon">
          <view class="quan_card_item_iconimg"></view>
        </view>
        <view class="quan_card_item_nametext">仰望的星空</view>
        <view class="quan_card_item_time">2019-02-01  12:00</view>
      </view>
      <view class="quan_card_report">
        <view class="quan_card_report_item">
          <image class="quan_card_report_image" src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/micro-electronic/Snipaste_2021-06-22_15-53-04.png"></image>
        </view>
        <view class="quan_card_report_dec">
          <text class="event_type">事件类型</text>
          <text class='event_status'>未解决</text>
          <view class="event_description">问题描述，描述描述</view>
        </view>
        <view class="quan_card_report_dec">
          <text class="event_type">处理结果</text>
          <view class="event_description">处理结果，处理处理</view>
        </view>
      </view>
      <view class="quan_card_content_option">
        <view class="quan_card_content_option_item report_card">
          三泰里居委泰和里小区
        </view>
        <view class="quan_card_content_option_item">
          <image class="quan_card_content_option_pinglun" src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/micro-electronic/%E7%9F%AD%E4%BF%A1%20%E6%8B%B7%E8%B4%9D%402x.png"></image>
          <text style="padding-left:8rpx">评论</text>
        </view>
        <view class="quan_card_content_option_item">
          <image class="quan_card_content_option_dianzan" src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/micro-electronic/%E8%B5%9E%20%E6%8B%B7%E8%B4%9D%402x.png"></image>
          <text style="padding-left:8rpx">赞</text>
        </view>
      </view> -->
    </view>
  </view>
  <view class="sendAgenda" bindtap="addAgenda">
    <image src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/micro-electronic/%E5%8F%91%E5%B8%96%402x.png"></image>
  </view>
</view>
<view class="UserStatus" wx:if="{{sealStatus}}" bindtap="showDialog"></view>
<view class="dialog" wx:if="{{showDialog}}">
  <view class="dialogInfo">
    <view class="dialogTitle">
        <view class="titleText">提示</view>
        <view class="closeIcon" bindtap="hideDialog">
          <image src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/micro-electronic/%E7%9F%A2%E9%87%8F%E6%99%BA%E8%83%BD%E5%AF%B9%E8%B1%A1%402x.png"></image>
        </view>
    </view>
    <view class="dialogcontent">
      亲爱的居民，您的账号涉嫌违规，已封停账号
      {{autoUnsealTime}} 解封
    </view>
    <view class="dialogBtn">
      <view class="btnItem">
        <view class="btn ss" bindtap="showTalkDialog">申诉</view>
      </view>
      <view class="btnItem">
        <view bindtap="hideDialog" class="btn close">关闭</view>
      </view>
    </view>
  </view>
 
</view>
<view class="dialog" wx:if="{{showtalkDialog}}">
  <view class="dialogInfo">
    <view class="dialogTitle">
        <view class="titleText">提示</view>
        <view class="closeIcon" bindtap="hidetalkDialog">
          <image src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/micro-electronic/%E7%9F%A2%E9%87%8F%E6%99%BA%E8%83%BD%E5%AF%B9%E8%B1%A1%402x.png"></image>
        </view>
    </view>
    <view class="dialogcontent">
      亲爱的居民，您的账号涉嫌违规，已封停账号
      {{autoUnsealTime}}解封
    </view>
    <view class="dialoginput">
      <input type="text" bindinput="getappealReason" placeholder="请填写申诉理由"></input>
    </view>
    <view class="dialogBtn">
      <view class="btnItem">
        <view class="btn ss" bindtap="redidentAppeal">提交</view>
      </view>
      <view class="btnItem">
        <view bindtap="hidetalkDialog" class="btn close">关闭</view>
      </view>
    </view>
  </view>
 
</view>