<!--components/reportItem/reportItem.wxml-->
<view data-item="{{data_item}}" bindtap="getReportItem">
  <view class="quan_card_item_name">
    <view class="quan_card_item_icon">
      <view class="quan_card_item_iconimg">
        <image class="quan_card_item_iconimg_img" src="{{IMG_HOST+data_item.portraitImg}}"></image>
      </view>
    </view>
    <view class="quan_card_item_nametext">{{data_item.name}}</view>
    <view class="quan_card_item_time">{{data_item.createTime}}</view>
  </view>
  <view class="quan_card_report">
    <view class="quan_card_report_item">
      <image class="quan_card_report_image"
        src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/micro-electronic/Snipaste_2021-06-22_15-53-04.png">
      </image>
    </view>
    <view class="quan_card_report_dec">
      <text class="event_type">{{data_item.event}}</text>
      <text class='event_status'>{{data_item.type==1?'已解決':'未解決'}}</text>
      <view class="event_description">{{data_item.content}}</view>
    </view>
    <view class="quan_card_report_dec">
      <text class="event_type">处理结果</text>
      <!-- <text class='event_status'>未解决</text> -->
      <view class="event_description">{{data_item.result}}</view>
    </view>
  </view>
  <view class="quan_card_content_option">
    <view class="quan_card_content_option_item report_card">
      {{data_item.districtName}}
    </view>
    <view class="quan_card_content_option_item" catchtap="showDiscuss">
      <image class="quan_card_content_option_pinglun"
        src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/micro-electronic/%E7%9F%AD%E4%BF%A1%20%E6%8B%B7%E8%B4%9D%402x.png">
      </image>
      <text style="padding-left:8rpx">评论</text>
    </view>
    <view class="quan_card_content_option_item" data-item="{{data_item}}" catchtap="dianzans">
      <image class="quan_card_content_option_dianzan"
        src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/micro-electronic/%E8%B5%9E%20%E6%8B%B7%E8%B4%9D%402x.png">
      </image>
      <text style="padding-left:8rpx"
        class="{{data_item.isLike?'isLikeColor':''}}">{{(data_item.likesCount==0||data_item.likesCount==null)?'赞':data_item.likesCount}}</text>
    </view>
  </view>
  
</view>

