<!--pages/myorder/myorder.wxml-->
<view class="order-container">
    <view class="order-item" wx:for="{{myOrderList}}" wx:key="id">
        <view class="title">
            <view class="title-left"><text>服务项目：{{item.serviceName}}</text></view>
            <view class="title-right">已预约</view>
        </view>
        <view class="normal-item-column">
            <view class="normal-item-column-left">预约时间:</view>
            <view class="normal-item-column-right">{{item.bookingTime}}</view>
        </view>
        <!-- <view class="normal-item-column">
            <view class="normal-item-column-left">计划预约人数:</view>
            <view class="normal-item-column-right">10人</view>
        </view> -->
        <view class="normal-item-column">
            <view class="normal-item-column-left">预约上线人数:</view>
            <view class="normal-item-column-right">{{item.expectNumber}}</view>
        </view>
        <view class="normal-item-column">
            <view class="normal-item-column-left">预约下限人数:</view>
            <view class="normal-item-column-right">{{item.minNumber}}</view>
        </view>
        <view class="normal-item-column">
            <view class="normal-item-column-left">当前预约人数:</view>
            <view class="normal-item-column-right">
                <view class="normal-item-column-right-left"><text>{{item.realNumber}}</text></view>
                <view class="normal-item-column-right-right"><button
                        style="width:100%;background: linear-gradient(269deg, #2F89FF 0%, #37C4FF 100%);opacity: 1;"
                        class="normal-item-column-right-button" bindtap="handleCancelOrder"
                        data-slice="{{item}}">取消预约</button></view>
            </view>
        </view>
    </view>
    <nothing wx:if="{{showNothing}}" prop-a="{{pageType}}"></nothing>
</view>