<mp-toptips msg="{{error}}" type="error" show="{{error}}"></mp-toptips>
<view class="page">
    <mp-cells>
        <view class="weui-cells weui-cells_after-title">
            <view class="weui-cell weui-cell_select">
                <view class="weui-cell__hd weui-cell__hd_in-select-after">
                    <view class="weui-label"><text class="importanticon">*</text>小区</view>
                </view>
                <view class="weui-cell__bd">
                    <picker mode="multiSelector" bindchange="bindMultiPickerChange"
                        bindcolumnchange="bindMultiPickerColumnChange" value="{{multiIndex}}" range="{{multiArray}}">
                        <view class="weui-select weui-select_in-select-after" wx-if="{{mainDistricId}}">
                            {{multiArray[0][multiIndex[0]]}}，{{multiArray[1][multiIndex[1]]}}，{{multiArray[2][multiIndex[2]]}}
                        </view>
                        <view class="weui-select weui-select_in-select-after" wx-if="{{!mainDistricId}}">请选择</view>
                    </picker>
                </view>
            </view>
            <view class="weui-cell">
                <view class="weui-cell__hd weui-cell__hd_in-select-after">
                    <view class="weui-label">
                        <mp-icon type="field" icon="add" color="#108EEF" size="{{22}}"></mp-icon><text
                            class="importanticon">*</text>详细地址
                    </view>
                </view>
                <view class="weui-cell__bd">
                    <input style="width: 150rpx;display: inline-block;" class="weui-input" bindinput="getmenhao"
                        placeholder="如：12号" />——
                    <input style="width: 150rpx;display: inline-block;" class="weui-input" bindinput="getmenshi"
                        placeholder="如：410室" />
                </view>
            </view>
        </view>
        <!-- <view class="weui-cells weui-cells_after-title">
            <view class="weui-cell weui-cell_select">
                <view class="weui-cell__hd weui-cell__hd_in-select-after">
                    <view class="weui-label">副属小区</view>
                </view>
                <view class="weui-cell__bd">
                    <picker mode="multiSelector" bindchange="bindMultiPickerChange111" value="{{multiIndex111}}" range="{{multiArray}}">
                        <view class="weui-select weui-select_in-select-after" wx-if="{{secDistricId}}">
                        {{multiArray[0][multiIndex111[0]]}}，{{multiArray[1][multiIndex111[1]]}}，{{multiArray[2][multiIndex111[2]]}}
                        </view>
                        <view class="weui-select weui-select_in-select-after" wx-if="{{!secDistricId}}">请选择</view>
                    </picker>
                </view>
            </view>
        </view> -->
        <!-- <view class="weui-cell">
            <view class="weui-cell__hd weui-cell__hd_in-select-after">
                <view class="weui-label"><mp-icon type="field" icon="add" color="#108EEF" size="{{22}}"></mp-icon>详细地址</view>
            </view>
            <view class="weui-cell__bd">
                <input class="weui-input" bindinput="bindKeyInputsecaddress" placeholder="如：456弄12号410室" />
            </view>
        </view> -->
        <view class="weui-cell">
            <view class="weui-cell__hd weui-cell__hd_in-select-after">
                <view class="weui-label"><text class="importanticon">*</text>人员类别</view>
            </view>
            <view class="weui-cell__bd">
                <radio-group bindchange="radioChange">
                    <label class="weui-check__label" wx:for="{{items}}" wx:key="code">
                        <radio value="{{item.code}}" />{{item.text}}
                    </label>
                </radio-group>
            </view>
        </view>
        <view class="weui-cell">
            <view class="weui-cell__hd weui-cell__hd_in-select-after">
                <view class="weui-label"><text class="importanticon">*</text>昵称</view>
            </view>
            <view class="weui-cell__bd">
                <input class="weui-input" bindinput="bindKeyInputnickname" placeholder="请填写您的昵称" />
            </view>
        </view>
        <view class="weui-cell">
            <view class="weui-cell__hd weui-cell__hd_in-select-after">
                <view class="weui-label"><text class="importanticon">*</text>姓名</view>
            </view>
            <view class="weui-cell__bd">
                <input class="weui-input" bindinput="bindKeyInputname" placeholder="请填写您的真实姓名" />
            </view>
        </view>
        <view class="weui-cell">
            <view class="weui-cell__hd weui-cell__hd_in-select-after">
                <view class="weui-label"><text class="importanticon">*</text>公民身份证</view>
            </view>
            <view class="weui-cell__bd">
                <input class="weui-input" bindinput="bindKeyInputidcard" placeholder="请填写您的公民身份号码" />
            </view>
        </view>
        <view class="weui-cells weui-cells_after-title">
            <view class="weui-cell weui-cell_select">
                <view class="weui-cell__hd weui-cell__hd_in-select-after">
                    <view class="weui-label">民族</view>
                </view>
                <view class="weui-cell__bd">
                    <picker bindchange="bindPickerChange" range="{{nationList}}"
                        data-code="{{nationList[nationIndex].id}}" value="{{nationIndex}}" range-key="{{'code'}}">
                        <view class="weui-select weui-select_in-select-after">
                            {{nationList[nationIndex].code}}
                        </view>
                    </picker>
                </view>
            </view>
        </view>
        <view class="weui-cell">
            <view class="weui-cell__hd weui-cell__hd_in-select-after">
                <view class="weui-label"><text class="importanticon">*</text>户籍所在地</view>
            </view>
            <view class="weui-cell__bd">
                <input class="weui-input" bindinput="bindKeyInputregisterAddress" placeholder="请填写您身份证上登记地址" />
            </view>
        </view>

        <view class="weui-cells weui-cells_after-title">
            <view class="weui-cell weui-cell_select">
                <view class="weui-cell__hd weui-cell__hd_in-select-after">
                    <view class="weui-label"><text class="importanticon">*</text>居住事由</view>
                </view>
                <view class="weui-cell__bd">
                    <picker bindchange="bindPickerChange111" range="{{reasonList}}"
                        data-code="{{reasonList[reasonIndex].id}}" value="{{reasonIndex}}" range-key="{{'code'}}">
                        <view class="weui-select weui-select_in-select-after">
                            {{reasonList[reasonIndex].code}}
                        </view>
                    </picker>
                </view>
            </view>
        </view>
        <view class="weui-cell">
            <view class="weui-cell__hd weui-cell__hd_in-select-after">
                <view class="weui-label"><text class="importanticon">*</text>联系方式</view>
            </view>
            <view class="weui-cell__bd">
                <input wx:if="{{phone}}" disabled value="{{phone}}" class="weui-input" placeholder="请填写您的手机号" />
                <button wx:else open-type="getPhoneNumber" bindgetphonenumber="getPhoneNumber">获取手机号</button>
            </view>
        </view>

    </mp-cells>
    <view class="policy-container">
        <label class="radio">
            <checkbox-group bindchange="checkboxChange">
                <checkbox value="checked" />勾选代表同意本小程序的<text style="color:#108EEF;"
                    bindtap="redirectUserServicePolicy">《用户服务协议》</text>和<text style="color:#108EEF;"
                    bindtap="redirectUserServicePolicy">《隐私政策》</text>
            </checkbox-group>
        </label>
    </view>
    <view class="weui-btn-area">
        <button class="weui-btn" type="primary" bindtap="submitForm">确定</button>
    </view>
</view>