/* pages/myAgenda/myAgenda.wxss */
.agendaContainer{
  width: 100%;
  min-height: 100%;
  background: #f5f6f8;
  padding-top: 20rpx;
  box-sizing: border-box;
}
.searchInput{
  height: 100rpx;
  background: white;
  display: flex;
  align-items: center;
}
.input_content{
  width: 70%;
  height: 70rpx;
  border-radius: 35rpx;
  background: #f6f6f6;
  margin-left: 50rpx;
  display: grid;
  grid-template-columns: 70rpx auto;
  grid-template-rows: 100%;
}
.input_content_icon{
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon_img{
  width: 35rpx;
  height: 35rpx;
}
.input_content_text{
  width: 100%;
  height: 100%;
  line-height: 70rpx;
  padding: 0  35rpx 0 10rpx;
  box-sizing: border-box;
}

.quan_card_item_iconimg {
  width: 120rpx;
  height: 120rpx;
  border-radius: 50%;
  background: #ccc;
  margin: 8rpx auto;
}                

.quan_card_item {
  margin-top: 20rpx;
  padding: 0 20rpx;
  background: white;
}

.quan_card_item_name {
  height: 150rpx;
  display: grid;
  grid-template-columns: 150rpx auto;
  grid-template-rows: 80rpx 70rpx;
}

.quan_card_item_icon {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}
.quan_card_report_item{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}
.quan_card_item_nametext {
  line-height: 90rpx;
  padding-left: 20rpx;
  font-size: 35rpx;
}

.quan_card_item_time {
  /* line-height: 60rpx; */
  padding-left: 20rpx;
  font-size: 28rpx;
  color: #a8a8a8;
}
.quan_card_title_dedpgrey {
  font-size: 35rpx;
}

.quan_card_zhiding {
  border: 1rpx solid #ff9b52;
  color: #ff9b52;
  padding: 0 10rpx;
}

.quan_card_content {
  margin-top: 20rpx;
  color: #a3a3a3;
}

.quan_card_content_img {
  margin-top: 20rpx;
  height: 270rpx;
}

.quan_card_content_img_k {
  width: 100%;
  height: 100%;
}

.quan_card_content_option {
  height: 100rpx;
  display: flex;
}

.quan_card_content_option_item {
  line-height: 100rpx;
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #e2e2e2;
  text-align: center;
}

.quan_card_content_option_pinglun{
  width: 35rpx;
  height: 40rpx;
  vertical-align: middle;
}
.quan_card_content_option_dianzan{
  width: 35rpx;
  height: 35rpx;
  vertical-align: middle;
}
.quan_card_report{
  height: 300rpx;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}
.quan_card_report_image{
  width: 100%;
  height: 100%;
}
.quan_card_report_dec{
  padding: 0 20rpx;
}
.event_type{
  font-size: 35rpx;
}
.event_status{
  font-size: 28rpx;
  border: 1rpx solid #ffaf75;
  padding: 0 5rpx;
  color: #ffaf75;
  margin-left: 15rpx;
}
.event_description{
  font-size: 30rpx;
  color: #7d7d7d;
  margin-top:10rpx;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.report_card{
  color: #49a4f2;
}
.talk_card{
  color: #ffa164;
}
.showlimit{
  margin-top: 20rpx;
  text-align: center;
  color: #cdcacd;
}
.sendAgenda{
  width: 100rpx;
  height: 100rpx;
  border-radius: 50%;
  position: fixed;
  bottom: 100rpx;
  right: 25rpx;
}
.sendAgenda image{
  width: 100%;
  height: 100%;
}
