<view class="agendaContainer">
  <view class="searchInput">
    <view class="input_content">
      <view class="input_content_icon">
        <image class="icon_img" bindtap="limitAgendaList" src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/micro-electronic/sousu%402x.png">
        </image>
      </view>
      <view class="input_content_input">
        <input class="input_content_text" bindinput="getTitle" bindconfirm='limitAgendaList'  value="{{params.title}}" placeholder="搜索动态" type="text"></input>
      </view>
    </view>
    <text style="padding-left:40rpx" bindtap="clearTitle">取消</text>
  </view>
  <view class="quan_card_item" wx:for="{{agendaList}}" wx:key="id">
    <agendaItem item="{{item}}" data-item="{{item}}" bindtap="getAgendaItem"></agendaItem>
  </view>
  <view class="showlimit" wx:if="{{showLimit}}">我是有底线的~</view>
  <view class="sendAgenda" bindtap="addAgenda">
    <image src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/micro-electronic/%E5%8F%91%E5%B8%96%402x.png"></image>
  </view>
</view>