<!--pages/agendaDetail/agendaDetail.wxml-->
<view class="agendaDetailContainer">
  <view class="quan_card_item">
    <view class="quan_card_item_name">
      <view class="quan_card_item_icon">
        <view class="quan_card_item_iconimg">
          <image src="{{IMG_HOST+agendaDetail.assemblyObject.portraitImg}}"></image>
        </view>
      </view>
      <view class="quan_card_item_nametext">{{agendaDetail.assemblyObject.name}}</view>
      <view class="quan_card_item_time">{{agendaDetail.assemblyObject.createTime}}</view>
    </view>
    
    <view class="quan_card_content">
      {{agendaDetail.assemblyObject.content}}
    </view>
    <view class="quan_card_content_img" wx:for="{{agendaDetail.filePaths}}" wx:key="index">
      <image class="quan_card_content_img_k" mode="widthFix" src="{{IMG_HOST+item}}">
      </image>
    </view>
    <view class="quan_card_content_option">
      <view class="quan_card_content_option_item talk_card">
        {{agendaDetail.assemblyObject.neighbourhood}}
      </view>
      <view bindtap="handleShowDiscussComponent" style="color:#CCCCCC;">回复</view>
    </view>
  </view>
  <view class="quan_title_text">
    <view class="quan_title_text_t"></view>
    <view class="quan_title_text_tt">评论</view>
  </view>
  <discussList discusslist="{{discussList}}"></discussList>
  <discussItem wx:if="{{showDiscussComponent}}" bind:myevent="hideDiscuss" currentDis="{{discussItemData}}"></discussItem>
</view>