.nothingbox{
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  color: #999;
  font-size: 32rpx;
}
.nothingicon{
  width: 20rem;
  height: 16rem;
  margin-top: 3rem;
}
.desc{
  margin-top: 1rem;
}
.buttonsty{
  border: 0.01rem solid #19B1FD;
  border-radius: 0.3rem;
  background-color: #fff;
  color: #19B1FD;
  margin-top: 0.8rem;
}