<!--pages/my/my.wxml-->
<view>
  <view class="nothingbox">
    <image class="nothingicon" src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/micro-electronic/nothing.png"></image>
    <text class="desc" wx-if="{{propA === '2'}}">您还没有发表评论...</text>
    <text class="desc" wx-if="{{propA === '3'}}">您还没有报修记录...</text>
    <text class="desc" wx-if="{{propA === '4'}}">您还没有随手报记录...</text>
    <text class="desc"  wx-if="{{propA=='5'}}">您还没有预约...</text>
    <button class="buttonsty" wx-if="{{propA === '3'}}" bindtap="toRepair">我要报修</button>
    <button class="buttonsty" wx-if="{{propA === '1'}}" bindtap="toActive">立即发布</button>
    <button class="buttonsty" wx-if="{{propA === '4'}}" bindtap="toReport">我要上报</button>
  </view>
</view>
